<table class="table table-bordered">
  <thead>
  <tr>
    <th>title</th>
    <th>subtitle</th>
    <th>item</th>
    <th>edit</th>
    <th>destroy</th>
    <th>entries</th>
  </tr>
</thead>
<tbody>
  <% @feeds.each do |feed| %>
    <tr>
    <td><%= link_to feed.title, feed %></td>
    <td><%= feed.subtitle%></td>
    <td><%= link_to raw('<i class="icon-globe"></i>'), feed %></td>
    <td><%= link_to raw('<i class="icon-pencil"></i>'), edit_feed_path(feed) %></td>
  <td><%= link_to raw('<i class="icon-remove"></i>'), feed, method: :delete, data: { confirm: 'Are you sure?' } %></li>
    <td><%= feed.entries.count %></td>
    
  </tr>
<% end %>
</tbody>

</table>

<br />

