<div class="row">
  <div class="span6">
    <h5><%= auto_link(simple_format(entry.title)) %></h5>
    <% if entry.summary %><h6><%= auto_link(simple_format(entry.summary)) %></h6><%end%>
    <% if entry.link %> <h6>link: <%= auto_link(simple_format(entry.link)) %></h6><%end%>
  </div>
  <div class="span2">
    <%= distance_of_time_in_words(Time.now - entry.published) %>
  </div>
  <div class="btn-toolbar" style="float:right; margin:0px">
    <div class="btn-group">
      <%= link_to feed_entry_path(entry.feed_id, entry), :class => "btn btn-mini" do %>
        <i class="icon-info-sign"></i>
    <% end %>
      <%= link_to edit_feed_entry_path(entry.feed_id, entry), :class => "btn btn-mini" do %>
        <i class="icon-pencil"></i>
    <% end %>
      <%= link_to feed_entry_path(entry.feed_id,entry), :class => "btn btn-mini btn-danger", :method => :delete, data: {confirm: "This will delete the entry.  Are you sure you want to do this?"} do %>
        <i class="icon-remove"></i>
    <% end %>
    </div>
  </div>
</div>
<div class="row">
  <div class="span7">
    <p><%= simple_format(auto_link(entry.content)) %><p>
  </div>
  <div class="span2">
    <% if (entry.author.name || entry.author.email || entry.author.uri) %>
      <strong><%= entry.author.name %></strong>
    <strong><%= simple_format(auto_link(entry.author.email)) if (entry.author.email && !entry.author.email.empty?)%></strong>
    <strong><%= simple_format(", #{auto_link(entry.author.uri)}") if entry.author.uri %></strong>
  <%end%>
  </div>
</div>
<br>
<hr style="margin:8px 0px">

