<div class="navbar navbar-fixed-top" style="margin-bottom:50px;">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Feedhaven", home_path, :class => "brand" %>
      <div class="container nav-collapse">
        <ul class="nav">
          <li><%= link_to raw('<i class="icon-cogs"></i> API'), api_path %></li>
          <li><%= link_to raw('<i class="icon-cloud-download"></i> Import'), import_path %></li>
        </ul>
        <ul class="nav pull-right">
          <% if user_signed_in? %>
            <li><%= link_to raw('<i class="icon-cloud"></i> Feeds'), feeds_path %></li>
            <li><%= link_to raw('<i class="icon-plus"></i> New'), new_feed_path %></li>
            <li><%= link_to raw('<i class="icon-user"></i> Logout'), destroy_user_session_path, :method => :delete %></li>
        <% else %>
          <li> <%= link_to(raw('<i class="icon-user"></i>Login'), new_user_session_path) %> </li>
        <% end %>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>


